*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.contener{
    width: 1140px;
    margin: 0 auto;
}

.navbar{
    position: relative;
}

.nav_title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.nav_iteam{
    display: flex; 
    justify-content: end;
}

.list{
    margin-left: 50px;
    margin-top: -10px;
}

.link{
    color:white;
    transition: 0.3s;
}

.link:hover{
    color: orange;
}

.getstart{
    color: orange;
    border: 1px solid orange;
    padding: 10px 20px;
    margin-top: -10px;
    transition: 0.5s;
    border-radius: 5px;
}

.getstart:hover{
    background-color: orange;
    color: white;
}

.nav_section{
    background: radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);;
}